* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background: #faf8ef;
    padding: 20px;
}

#app {
    padding-left: 60px;
    padding-right: 60px;
}

.container,
.flex {
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

h1,
title {
    color: #8f7a66;
    margin-bottom: 10px;
    padding: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.score-box {
    background: #bbada0;
    padding: 10px;
    margin: 10px;
    border-radius: 6px;
    color: white;
}

.buttons {
    padding: 10px;
}

button {
    padding: 8px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    background: #8f7a66;
    color: white;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
    gap: 10px;
    background: #e7e2d8;
    padding: 10px;
    border-radius: 6px;
    aspect-ratio: 1 / 1;
}

.tile {
    background: #cdc1b4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.5s ease;
    aspect-ratio: 1 / 1;
}

.tile-2 {
    background: #2c7e9a;
}

.tile-4 {
    background: #43a68f;
}

.tile-8 {
    background: #54c386;
}

.tile-16 {
    background: #89ce74;
}

.tile-32 {
    background: #bfd662;
}

.tile-64 {
    background: #eddc54;
}

.tile-128 {
    background: #edc06d;
}

.tile-256 {
    background: #ed9794;
}

.tile-512 {
    background: #ec71b5;
}

.tile-1024 {
    background: #ed53a2;
}

.tile-2048 {
    background: #ed537b;
    color: white;
}

.controls {
    display: none;
    margin-top: 15px;
}

.controls button {
    padding: 10px;
    margin: 5px;
    font-size: 18px;
}

.modal {
    position: fixed;
    inset: 0;
    background: #3d362b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #ddd6cb;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.hidden {
    display: none;
}

@media (max-width: 768px) {
    #app {
        padding-left: 30px;
        padding-right: 30px;
    }

    .tile {
        font-size: 20px;
    }

    .grid {
        width: 290;
        height: 290;
    }

    .controls {
        display: block;
    }
}

@media (max-width: 480px) {
    #app {
        padding-left: 0px;
        padding-right: 0px;
    }
}